/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-color: #e3f2fd;
  height: 100%;
  overflow-x: hidden;
  background: radial-gradient(
    ellipse at center,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 25%,
    rgba(161, 219, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );
  font-family: "Luckiest Guy", sans-serif;
  letter-spacing: 1px;
}

/* Map */
#map {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: end;
  /* background: red; */
  height: 100vh;
  width: 100vw;
  position: relative;
}


#map::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(./png/test.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  z-index: -1;
}


#map > div {
  background: green;
  padding: 20px;
  color: white;
  cursor: pointer;
  position: absolute;
}

#map > div:nth-child(1) {
  left: 20%;
  top: 25%;
  background: #a4d12ec9;
}

#map > div:nth-child(2) {
  right: 32%;
  top: 25%;
  background: #aa2619;
}

#map > div:nth-child(3) {
  left: 30%;
  bottom: 30%;
  background: #eff8fcad;
  color: black;
}

#map > div:nth-child(4) {
  right: 20%;
  bottom: 25%;
  background: #e8981bc4;
}
/* end map */
/* Modal */
#prizeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(177, 175, 175, 0.664);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* end modal */

/* Calendar */

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background: rgb(6, 124, 192);
}

#calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

#calendar > div {
  padding: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* button */
button {
  border: none;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 10px;
  outline: none;
  color: white;
  background: crimson;
  padding: 15px;
}



.calendar-wrapper {
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.calendar {
  display: grid;
  grid-template-rows:auto;
  gap: 10px;
  position: absolute;
  place-content: space-evenly;
height: 100%;
  top: 0;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  font-size: 12px;
  font-weight: bold;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 0;
  padding: 10px;
  text-align: center;
}

.day.past {
  background-color: #ccc;
  color: #777;
}

.day.today {
  background-color: purple;
  color: white;
  cursor: pointer;
}
.day.future {
  background-color: gold;
  color: black;
}

.day.future:hover {
  background-color: orange;
}


[data-index="26"] {
  left: 100%;
}


